<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Redirector.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <Redirector.Properties.Settings>
            <setting name="AccountSID" serializeAs="String">
                <value>ACc88cb4beb136cc7b1381fec21b1013fb</value>
            </setting>
            <setting name="TwilioFlowId" serializeAs="String">
                <value>https://studio.twilio.com/v1/Flows/FWa3d1f18f518c70a76cd5a70bc9fcf1da/Executions</value>
            </setting>
            <setting name="FromNumber" serializeAs="String">
                <value>+447588722325</value>
            </setting>
            <setting name="WebHostName" serializeAs="String">
                <value>*</value>
            </setting>
            <setting name="WebPort" serializeAs="String">
                <value>8080</value>
            </setting>
            <setting name="WebProtocol" serializeAs="String">
                <value>http</value>
            </setting>
        </Redirector.Properties.Settings>
    </applicationSettings>
</configuration>